<h1>All Photos</h1>

<% @list_of_photos.each do |a_photo| %>
<img src = "<%= a_photo.source %>">
<a href="/photos/<%= a_photo.id %>" class = "btn btn-secondary btn-block">Show Details</a>
<a href="/update_photo/<%= a_photo.id %>" class = "btn btn-secondary btn-block">Edit</a>
<a  href="/delete_photo/<%= a_photo.id %>" class = "btn btn-secondary btn-block">Delete</a>
<% end %>
